html {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--text);
	background-color: var(--bg);
}

body {
	margin: 0;
}

h2 {
	text-align: center;
	font-size: 2rem;
	margin: 1rem 0;
}

#desktop-nav {
	background-color: var(--brand);
	padding: 0.5rem;
	display: flex;
}

#mobile-nav {
	display: none;
}

.nav-logo {
	height: 51px;
}

.logo-narrow {
	display: none;
}

.nav-search-wrapper button {
	background-color: var(--always-light);
	border: none;
	padding: 0 0.5rem;
	border-radius: 0 0.5rem 0.5rem 0;
	cursor: pointer;
}

.nav-search-wrapper svg {
	fill: var(--brand);
	width: 28px;
	height: 28px;

}

.nav-search-wrapper {
	display: flex;
	padding: 0.15rem;
}

.nav-button {
	color: var(--always-light);
	background: none;
	border: none;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 1rem;
	cursor: pointer;
	text-decoration: none;
}

.nav-button svg {
	fill: var(--always-light);
}

.nav-button svg,
.nav-button img {
	height: 2.5rem;
	width: 2.5rem;
}

.nav-search {
	font-size: 1.5rem;
	padding: 0 0.5rem;
	border-radius: 0.5rem 0 0 0.5rem;
	border: none;
	background-color: var(--always-light);
	color: var(--always-dark);
}

.dialog-button-wrapper {
	position: relative;
}

.user-popup {
	border: none;
	padding: 0;
	flex-direction: column;
	width: max-content;
	text-align: center;
}

.user-popup button,
.menu-link-button,
.user-popup span {
	width: 100%;
	box-sizing: border-box;
	display: block;
	padding: 0.75rem;
	font-size: 1rem;
	text-decoration: none;
	color: var(--text);
}

.user-popup button,
.menu-link-button {
	border: none;
	background: none;
	cursor: pointer;
}

.user-popup button:hover,
.menu-link-button:hover {
	background: var(--bg2)
}

.user-popup span {
	display: inline-block;
}

.padded-non-bullet-list,
.non-bullet-list {
	list-style-type: none;
}

.non-bullet-list {
	padding: 0;
	margin: 0;
}

.live-list {
	width: 90%;
	max-width: 2000px;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	margin: 0 auto;
}

.live-entry {
	display: flex;
	border-radius: 1rem;
	border: 1px solid var(--text);
	overflow: hidden;
}

.live-main {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: 1rem;
	text-decoration: none;
	color: var(--text);
}

.live-main:hover {
	background-color: var(--bg2);
}

.live-entry p {
	margin: 0.1rem 0;
}

.live-entry h3 {
	margin: 0;
}

.live-artist-list {
	margin-bottom: 1rem;
}

.live-details {
	margin-top: auto;
}

.live-details .live-livehouse {
	margin-top: 1rem;
}

.location-wrapper {
	display: flex;
	align-items: center;
}

#search-container {
	display: flex;
	width: 100%;
	gap: 5rem;
	max-width: 1000px;
	margin-left: 1rem;
}

#search-filters {
	align-self: flex-start;
	position: sticky;
	top: 1rem;

	flex-shrink: 0;
	border-radius: 1rem;
	padding: 1rem;
	padding-right: 3rem;
	background-color: var(--bg2);
	box-shadow: var(--neuomorphic);
}

#result-dump {
	flex-grow: 1;
}

@media only screen and (width < 2000px) {
	.live-list {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

@media only screen and (width < 1400px) {
	.live-list {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media only screen and (width < 1000px) {
	.live-list {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	#desktop-nav {
		display: none;
	}

	#mobile-nav {
		background-color: var(--brand);
		padding: 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	#mobile-nav .button-container {
		display: flex;
		justify-content: flex-end;
		text-align: center;
	}

	#mobile-nav .nav-logo-anchor {
		margin-right: auto;
	}

	#mobile-nav .nav-search {
		width: 100%;
	}
}

@media only screen and (width < 700px) {
	#search-container {
		flex-direction: column;
		gap: 0;
	}

	#search-filters {
		position: static;
		align-self: stretch;
	}
}

@media only screen and (width < 600px) {
	.live-list {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.logo-wide {
		display: none;
	}
	.logo-narrow {
		display: inline-block;
	}
}
