{{ define "title" }}{{ T "general.favorite-lives-title" }}{{ end }}

{{ define "head" }}{{ end }}

{{ define "body" }}
  <h2 class="general-header">{{ T "general.favorite-lives-header" }}</h2>
  {{ template "lives" . }}
{{ end }}
