{{ define "title" }}{{ T "general.main-title" }}{{ end }}

{{ define "head" }}{{ end }}

{{ define "body" }}
  <h1>This is defintiely a website :)))</h1>
	<h2>Saved Lives</h2>
	{{ if not .SavedLives.Lives }}
		<p>No saved lives</p>
	{{ else }}
		{{ template "lives" .SavedLives.Lives }}
	{{ end }}
{{ end }}
