{{ define "title" }}{{ LiveListTitle }}{{ end }}

{{ define "head" }}{{ end }}

{{ define "body" }}
  <header class="livelist-header">
    <h2 class="general-header">
      {{ or .Title ( T "livelist.default-title" ) }}
    </h2>
    <p>{{ or .Desc ( T "livelist.default-description" ) }}</p>
    <p class="livelist-author">
      {{ T "livelist.author" }}<a href="/user/{{ .User.Username }}"
        >{{ .User.Nickname }}</a
      >
    </p>
  </header>
  {{ template "lives" .Lives }}
{{ end }}
