{{ define "lives" }}
  {{ if . }}
    <ul
      class="live-list non-bullet-list"
      x-data="{ calendarEvents : {{ GetCalendarEvents }} }"
    >
      {{ range $live := . }}
        {{ template "live" $live }}
      {{ end }}
    </ul>
  {{ else }}
    <p>{{ T "live.no-lives-found" }}</p>
  {{ end }}
{{ end }}
