{{define "liveListDialog"}}
<h2>Live Lists Containing This Live</h2>
{{template "addToLiveList" .}}
<ul class="non-bullet-list">
	{{range $live := .LiveLiveLists}}
		{{template "liveListDialogItem" .}}
	{{end}}
</ul>
{{end}}

{{define "liveListDialogItem"}}
<li>
	<a href="/list/{{.ID}}">
		<h3>{{.Title}}</h3>
		<p>{{.LiveDesc}}</p>
	</a>
</li>
{{end}}

{{define "addToLiveList"}}
<form action="/api/addToList" method="post">
	<textarea name="LiveDesc" placeholder="Why is this live here?"></textarea>
	<input type="hidden" name="LiveID" value="{{.LiveID}}" />
	<select name="ExistingLiveListID">
		{{range $liveList := .PersonalLiveLists}}
			<option value="{{$liveList.ID}}">{{$liveList.Title}}</option>
		{{end}}
	</select>
	<button type="submit" name="AdditionType" value="ExistingList">Add</button>
	<input type="text" placeholder="New Live List Name" name="NewLiveListTitle"/>
	<button type="submit" name="AdditionType" value="NewList">Create</button>
</form>
{{end}}
